body {
  padding: 0;
}
.hero-section {
  /* background-image: url(../../assets/pngtree-close-up-of-intricately-twisted-braids-on-a-dark-bamboo-mat-picture-image_15278805.jpg); */
  height:700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section button {
  width: 150px;
  background-color: #feede1;
  color: #4c271d;
  transition: 0.3s;
}
.hero-section button:hover {
  background-color: #8a502b;
  color: #ffff;
}
.hero-text h1 {
  font-size: 50px;
  font-weight: bold;
}
.hero-text p {
  font-size: 20px;
  font-weight: bold;
}

.video-bg {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover ;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7); 
  z-index: 2;
}

.hero-text,
.hero-btn {
  position: relative;
  z-index: 3; 
  color: #fff;
}